<app-nav-menu></app-nav-menu>

<div class="home-style">
    <!-- Left -->
    <div class="left-sidebar">
        <!-- <app-personal-info></app-personal-info>
        <mat-divider></mat-divider>
        <app-quick-access></app-quick-access> -->
    </div>

    <!-- Center -->
    <div class="main-content">
        <app-home-publications [user]="user"></app-home-publications>
        <app-home-bussiness-red></app-home-bussiness-red>
    </div>

    <!-- Right -->
    <div class="right-sidebar">
        <app-home-economicefficiency></app-home-economicefficiency>
        <mat-divider></mat-divider>
        <app-home-economics-indicators></app-home-economics-indicators>        
    </div>
</div>
      
      
    
