<div class="linkedin-home">
  <div class="left-sidebar">
    <!-- <app-personal-info></app-personal-info>
    <mat-divider></mat-divider>
    <app-quick-access></app-quick-access> -->
  </div>

  <!-- Post -->
  <div class="main-content">
    <app-home-publications></app-home-publications>
    <app-home-bussiness-red></app-home-bussiness-red>
  </div>

  <div class="right-sidebar">
      <app-home-economicefficiency></app-home-economicefficiency>
      <mat-divider></mat-divider>
      <div>
      </div>
      <app-home-economics-indicators></app-home-economics-indicators>        
  </div>
</div>
    
    
  