<div class="posts">
  <div class="post" *ngFor="let post of posts; let i = index">
      <div>
        <mat-card-title>
          <img [src]="post.imgUserPost" alt="Imagen de usuario modificada" class="post-author-image-changed">
          <div class="post-author-info">
            <h3>{{post.userPost}} Modificado</h3>
            <p>{{post.resume}}</p>
          </div>
        </mat-card-title>
      </div>

      <img mat-card-image [src]=post.imgPost alt="Imagen modificada" class="post-product-image">
      <div>
        <p>{{post.comment}}</p>
      </div>

      <mat-card-actions>
        <div  class="comments-section-buttons">
          <button class="button-message" id="1">Mensaje</button>
        </div>  
      </mat-card-actions>
      
      <div class="comments-section">
        <h3>Comentarios ({{post.commentPeople.length}})</h3>
        <mat-list>
		
        </mat-list>

        <div class="text-comments">
          <div class="add-comment">
            <mat-form-field class="comment-input">
              <textarea matInput placeholder="Texto modificado..." [(ngModel)]="newCommentChanged[i.toString()]"></textarea>
            </mat-form-field>
          </div>
          <button mat-button class="comment-button" id="2" color="primary" (click)="addComment(post.id, i)">Comentario</button>
        </div>
      </div>  
  </div>
</div>
