<div class="posts">
  <mat-card class="post" *ngFor="let post of posts; let i = index">
      <mat-card-header>
        <mat-card-title>
          <img [src]="post.imgUserPost" alt="Imagen de usuario modificada" class="post-author-image-changed">
          <div class="post-author-info">
            <h3>{{post.userPost}} Modificado</h3>
            <p>{{post.resume}}</p>
          </div>
        </mat-card-title>
      </mat-card-header>

      <img mat-card-image [src]=post.imgPost alt="Imagen modificada" class="post-product-image">
      <mat-card-content>
        <p>{{post.comment}}</p>
      </mat-card-content>

      <button mat-button id="3" (click)="doLike(post.id, i)">Gustar</button>
      <button mat-button id="4" (click)="addComment(post.id, i)">Texto diferente</button>

      <mat-card-actions>
        
      </mat-card-actions>

      <div class="comments-section">
        <h3>Comentarios ({{post.commentPeople.length}})</h3>
        <mat-list>
		
        </mat-list>

        <button mat-button id="5" color="secondary" (click)="addComment(post.id, i)">Otro comentario</button>

        <div class="text-comments">
          <div class="add-comment">
            <mat-form-field class="comment-input">
              <textarea matInput placeholder="Texto modificado..." [(ngModel)]="newCommentChanged[i.toString()]"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>  
  </mat-card>
</div>
